---
layout: default
---
{% include header.html %}


<div class="list">
{% assign poems = (site.pages | where: "layout" , "poem") %}
{% for poem in poems %}
  <div class="list-post">
    {% if post.link %}
      <a href="{{ poem.link }}">
      {% else %}
      <a href="{{ poem.url | prepend: site.baseurl }}">
      {% endif %}  
      <div class="list-post-title">
        {{ poem.title }} 
      </div>

      {% if poem.description %}
      <div class="list-post-desc">
        {{ poem.description }}
      </div>
      {% endif %}
    </a>
  </div>  
{% endfor %}   


