<header class="header">
  <h1 class="header-title">
    <a href="{{ site.url }}{{ site.baseurl }}">{{ site.name }}</a>
  </h1>
  <h7 style="color:#dadada">a collection of <a style="color:#777" href="tags/poems/">poems</a> and song <a style="color:#777" href="tags/lyrics">lyrics</a></h7>
  
  <nav class="header-nav">
    {% for nav in site.nav %}
    {% if nav.url contains 'http://' or nav.url contains 'https://' %}
    <a href="{{ nav.url }}">{{ nav.name }}</a>
    {% else %}
    <a href="{{ nav.url | prepend: site.baseurl }}">{{ nav.name }}</a>
    {% endif %}
    {% endfor %}
  </nav>
  
</header>
