---
layout: tag
title: Poems
---


{% assign pieces = (site.pages | where: "tags" , "poems") %}


{% for piece in pieces %}
  <div class="list-post">
    {% if piece.link %}
      <a href="{{ piece.link }}">
      {% else %}
      <a href="{{ piece.url | prepend: site.baseurl }}">
      {% endif %}  
      <div class="list-post-title">
        {{ piece.title }}
      </div>
      {% if piece.description %}
      <div class="list-post-desc">
        {{ piece.description }}
      </div>
      {% endif %}
    </a>
  </div>  
{% endfor %}   

<hr />


